@model WebApplication1.Models.Jugador

@{
    ViewBag.Title = "DetailsAL";
}

<h2>DetailsAL</h2>

<div>
    <h4>Jugador</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.apellido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apellido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.posicion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.posicion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.club)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.club)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.salario_base)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.salario_base)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.compensacion_garantizada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.compensacion_garantizada)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "EditAL", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "IndexAL")
</p>
